<p id="notice"><%= notice %></p>
<h1>User List</h1>
<div id="users">
  <% user_selection = [] %>
  <% for user in @users %>
    <% if user != current_user %>
      <div class="user">
        <p>
          <% @mang = friends_already(user) %>
          <% if @mang.count == 0 %>
            <% @friend = show_non_friends(user) %>
            <% if @friend.count == 0 %>
             <% user_selection.push(user) %>
            <% end %>
          <% end %>
        </p>
      </div>
    <% end %>
  <% end %>
  <% if user_selection.count != 0 %>
    <% user = user_selection.sample %>
    <strong><%= user.first_name %></strong>
    <%= link_to "Add Friend", connections_path(:friend_id => user), :method => :post %> 
  <% else %>
    No users to select from
  <% end %>
</div>