<% user_selection = [] %>
<% @users.each do |user| %>
  <% if user != current_user %>
    <% @friends = friends_already(user) %>
    <% if @friends.count == 0 %>
      <% @friend = show_non_friends(user) %>
      <% if @friend.count == 0 %>
       <% user_selection.push(user) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if user_selection.count != 0 %>
  <% @random_users = user_selection.sample(3) %>
  <% @user1 = @random_users[0] %>
  <% @user2 = @random_users[1] %>
  <% @user3 = @random_users[2] %>
<% else %>
  <% @no_user = 1 %>
<% end %>


<div id="fullpage">
  <% if @random_users %>
    <div class="section">
    <% if notice %>
      <div class="notification is-success notice">
        <%= notice %>
      </div>
    <% end %>
      <% if @user1 %>
        <div class="slide">
          <%= render 'user_page', user: @user1 %>
        </div>
      <% end %>
      <% if @user2 %>
        <div class="slide">
          <%= render 'user_page', user: @user2 %>
        </div>
      <% end %>
      <% if @user3 %>
        <div class="slide">
          <%= render 'user_page', user: @user3 %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if @no_user %>
  <div class="slide">
    <div class="columns">
      <div class="no-users">
        No users found
      </div>
    </div>
  </div>
<% end %>