<div class=container>
<h2></h2>
</div>

<div class="columns">
  <div class="card column is-half is-offset-quarter is-fullheight">
    <div class="media">
      <div class="media-content">
        <p class="title is-10 is-text-centered"><%= @user.first_name %></p>
      </div>
    </div>
    <figure class="card-image is-4x3">
      <img src="http://placehold.it/300x225" alt="">
    </figure>
    <div class="card-content">
      <div class="columns">
        <ul class="column is-half is-text-centered">
          <li>Fish</li>
          <li>Sandwiches</li>
          <li>Guitar</li>
        </ul>
        <ul class="column is-half is-text-centered">
          <li>Hardcore</li>
          <li>Polka</li>
        </ul>
      </div>
    </div>
      <div class="content user-description is-text-centered">
        <%= @user.description %>
    </div>
  </div>
</div>