<div class=container>
<h2></h2>
</div>

<div class="columns">
  <div class="card column is-half is-offset-quarter is-fullheight">
    <div class="media">
      <div class="media-content">
        <p class="title is-10 is-text-centered"><%= @user.first_name %></p>
      </div>
    </div>
    <figure class="card-image is-4x3">
      <img src="http://placehold.it/300x225" alt="">
    </figure>
    <div class="card-content">
      <div class="columns">
        <ul class="column is-half is-text-centered">
          <li>Fish</li>
          <li>Sandwiches</li>
          <li>Guitar</li>
        </ul>
        <ul class="column is-half is-text-centered">
          <li>Hardcore</li>
          <li>Polka</li>
        </ul>
      </div>
      <p id='player'>
      </p>
    </div>
      <div class="content user-description is-text-centered">
        <%= @user.description %>
    </div>
  </div>
</div>

<% demo_string = @user.demo%>

<script type='text/javascript'>
  $(window).load(function(){
    var demo = '<%= demo_string %>'
    $(document).ready(function(){
      $('body').stratus({
        auto_play: true,
        download: false,
        links: demo,
        random: false,
        buying: false,
        user: false,
        stats: false,
      });
    });
  }); 
</script>