<video autoplay loop id="bgvid" muted poster="">
    <source src="assets/astrocolor.mp4">
</video>

<img src="assets/amp.jpeg" id="bgimg" />

<div id="flex-container">
  
  <div class="flex-item">
    <h1>Being in a band is fun.</h1>
  </div>
  
  <div class="flex-item">
    <button class="startButton">Get Started</button>
  </div>

  <div id="show" class="columns">

    <div class="column is-4 is-offset-half">
      <img src="assets/decks.png" />
      <h1>Find and Connect with Potential Bandmates</h1>
      <p>Bandr makes it easy to find other people in your area who would be compatible bandmates. Whether you're looking to jam once a week, or to form the next big thing, you can search for bandmates by instrument, preferred genre, and more.</p>
    </div>

    <div class="column is-4 is-offset-2">
      <img src="assets/vinyl.png" />
      <h1>Message Your Connections, Form Bands</h1>
      <p>More than just a social connection app, Bandr lets you organize your new Connections into groups, book time at local facilities, and organize other important band logistics in one easy-to-use package.</p>
    </div>

  </div>

</div>




