<video autoplay loop id="bgvid" muted poster="">
    <source src="assets/astrocolor.mp4">
</video>

<img src="assets/amp.jpeg" id="bgimg" />

<div id="flex-container">

  <div class="flex-item">
    <h1>Being in a band is fun.</h1>
  </div>
  
  <div class="flex-item">
    <button class="startButton">Get Started</button>
</div>

</div>




