  <div>
      <video autoplay loop id="bgvid" muted poster="thumbnail.jpg">
          <source src="assets/astrocolor.mp4">
      </video>

  </div>

  <div id="flex-container">

    <div id="flex-item">
    
      <h1>Being in a band is fun.</h1>

    </div>

  </div>






