/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bulma';

$bg:#55505C;
$gmblue:#5D737E;
$mint:#CDF9CB;
$neutcent:#6CBD92;
$popcent:#F4FF18;

html {
  background-color:$bg;
}

body {
  background-color:$bg;
}

.navbar {
  background-color:$gmblue;
}

%cube {
  background:$gmblue;
  width: 80px;
  height: 80px;
  position:absolute;
  color:#fff;
  text-align: center;
  line-height: 80px;
  transition:transform ease-out 400ms;
}

.hamburger{
  $width:25px;
  $height:3px;
  width:$width;
  height:$height;
  background:white;
  display:block;
  position:absolute;
  top:10%;
  right:5%;
  margin-left:-$width/2;
  margin-top:-$height/2;
  transition:transform 200ms;
}