/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.sidr.dark
 */
 
@import 'bulma';

$bg:#6534ff;
$gmblue:#62bcfa;
$peach:#fccdd3;
$lavendar:#bbc4ef;
$popcent:#F4FF18;

$width:35px;
$height:20px;

html {
  background-color:$bg;
}

body {
  background-color:$bg;
}

.card {
  
}

%cube {
  background:$gmblue;
  width:50px;
  height:50px;
  position:absolute;
  color:#fff;
  text-align:center;
  line-height:80px;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
}

.hamburger{
  $width:25px;
  $height:3px;
  width:$width;
  height:$height;
  background:$popcent;
  display:block;
  position:absolute;
  top:50%;
  right:25%;
  margin-left:-$width/2;
  margin-top:-$height/2;
  transition:transform 1s;
}

.hamburger:hover {
  background:$popcent;
}

.hamburger-1{
  transform:translate3d(2px,-7px,0) scale(0.01,0.01);
  text-shadow:0.1px 0.1px 0.1px $bg;
}
.hamburger-2{
  transform:translate3d(-5px,8px,0)scale(0.01,0.01);
  text-shadow:0.1px 0.1px 0.1px $bg;
}
.sidebar-btn:checked+.sidebar-btn-open {
  .hamburger-1 {
    transform:translate3d(0,0,0) rotate(45deg);
    text-shadow:3px 3px 6px $bg;
  }
  .hamburger-2 {
    transform:translate3d(0,0,0) rotate(-45deg); 
    text-shadow:3px 3px 6px $bg;
  }
}

.sidebar {
  float: right; 
  position:absolute;
  width:$width;
  height:$height;
  box-sizing:border-box;
  font-size:20px;
  text-align:left;
}

.sidebar-btn {
  @extend .sidebar;
  display:none;
}

.sidebar-btn-open {
  @extend %cube;
  background:$gmblue;
  right:-40%;
  transition:all 1000ms;
}

.sidebar-btn:checked+.sidebar-btn-open {
  transition-timing-function:ease-in-out;
  transform:translate3d(0,0,0);
  // right:-43%;
  right:-2644%;
}

#sidebar-bg {
  position:absolute;
  right:0%;
}
.sidebar-bg-collapse {
  width:50px;
  height:50px;
  background:$gmblue;
  transition-duration:1s;
}

.sidebar-bg-expand {
  width:100%;
  height:80vh;
  background:$gmblue;
  transition:all 1s ease-in-out;
}

#message-button {
  color:$popcent;
  display:block;
  position:absolute;
  top:50%;
  right:25%;
  margin-left:-$width/2;
  margin-top:-$height/2;
  transition:transform 1s ease-in-out;
  text-shadow: 3px 3px 6px $bg;
}

.sidebar-btn:checked+.sidebar-btn-open {
  #message-button {
    transform:translate3d(0,0,0) rotate(45deg) scale(0.1,0.1); 
  }
}

#flex-wrapper {
  display: flex;
}
#welcome-overlay {
  height: 200px;
  background: red;
  width: 50%;
  margin: auto;
}

#bgvid {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

#toggle-menu {
  position: fixed;
  right: 0;
  display: inline;
  float: right;
  top: 50%;
  background: $bg;
  padding: 12px;
  border-radius: 50%;
  opacity: 0.9;
}

#people-icon {
  height: 50px;
  width: auto;
}

.sidr {
  $sidr-font-family: 'Viga', sans-serif;
}

