/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 

*= require_self
*= require_tree .
*/
 
@import 'bulma';

$bg:#6534ff;
$gmblue:#62bcfa;
$peach:#fccdd3;
$lavendar:#bbc4ef;
$popcent:#F4FF18;

$width:35px;
$height:20px;

html {
  background-color:$bg;
}

body {
  background-color:$bg;
}

#flex-wrapper {
  display: flex;
}

#welcome-overlay {
  height: 200px;
  background: red;
  width: 50%;
  margin: auto;
}

#toggle-menu {
  position: fixed;
  right: 0;
  display: inline;
  float: right;
  top: 50%;
  background: $bg;
  border-radius: 50%;
  opacity: 0.9;
  margin-right: 5px;
}

#toggle-menu:hover {
  animation-name: people-bg;
  animation-duration: 0.3s;
  background: #de0052;
}

#msg-menu {
  position: fixed;
  left: 0;
  display: inline;
  float: left;
  top: 50%;
  background: $bg;
  border-radius: 50%;
  opacity: 0.9;
  margin-right: 5px;
}

#msg-menu:hover {
  animation-name: people-bg;
  animation-duration: 0.3s;
  background: #de0052;
}

#people-icon {
  padding-top: 2px;
  height: 24px;
  width: auto;
  margin: 10px;
}

#msg-icon {
  padding-top: 2px;

  height: 24px;
  width: auto;
  margin: 10px;
}

.sidr ul li {
  $sidr-font-family: 'Vida', sans-serif;
}

@keyframes people-bg {
    from {background: $bg;}
    to {background: #de0052;}
}
