$bg:#6534ff;
$gmblue:#62bcfa;
$peach:#fccdd3;
$lavendar:#bbc4ef;
$popcent:#F4FF18;


.navbar {

  position: fixed;
  z-index: 900;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: $bg;
  opacity: 0.9;
  min-height: 50px;
  width: 50%;
  font-family: 'Viga', sans-serif;

}

.logo-image {
  height: 36px;
  width: auto;
}

p.navbar-item.is-text-centered img {
  height: 18px;
}

p.navbar-item.is-text-centered.logo img {
  height: 36px;
}


a.link.is-info {
  color: white;
  padding: 7px;
}

a.link.is-info:hover {
  color: #de0052;
  border: 1px solid #de0052;
  animation-name: border;
  animation-duration: 0.5s;
  animation-name: link-color;
  animation-duration: 0.5s;
}

@keyframes bg-color {
    from {color: transparent;}
    to {color: #de0052;}
}

@keyframes link-color {
    from {color: white;}
    to {color: #de0052;}
}

@keyframes border {
    from {border: none;}
    to {border: 1px solid #de0052;}
}

.navbar img {
  height: 33px;
}
