$bg:#55505C;
$gmblue:#5D737E;
$mint:#CDF9CB;
$neutcent:#6CBD92;
$popcent:#F4FF18;

h1.logo a {
  margin-left:10px;
  color:$popcent;
  font-size:4em;
  text-shadow:3px 3px 5px $bg;
  font-family:Damion;
}

.navbar {
  background-color:$gmblue;
  min-height:79px;

  .navbar-right {
    color:$popcent;
    margin-right:15px;
    font-size:1.5em;
    text-shadow:3px 3px 5px $bg;

    h2 {
      font-family:Lato;
      font-weight:700;
      margin-right:-20px;
    }

    a {
      color:$mint;
      font-family:Lato;
      font-weight:700;
    }

    a:hover {
      color:$popcent;
    }
  }
}