$bg:#55505C;
$gmblue:#5D737E;
$mint:#CDF9CB;
$neutcent:#6CBD92;
$popcent:#F4FF18;

h1.logo a {
  margin-left:10px;
  font-size:4em;
  color: $popcent;
  font-family:Damion;
  text-shadow:4px 4px 6px $bg;
}

.navbar {
  background-color:$gmblue;
  min-height:79px;

  .navbar-right {
    color: $popcent;
    margin-right: 15px;
  }
}