// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  margin-top: 0px;
}

.fa-check-circle {
  margin-left: 3%;
  margin-top: 5%;
  color: #42B545;
  font-size: 8em;
}

.fa.fa-check-circle.fa-8x {
  font-size: 8em;
  height: 0%;
}

.no-users {
  font-size: 8em;
  margin-top: 120px;
  text-align: center;
  padding-left: 45px;
}