// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users-container {
  
}

div.section div.notice {
  text-align: center;
  margin-top: 41px;
  margin-bottom: -5%;
  max-width: 50%;
  margin-left: 25%;
  background: #51B954;
  padding: 6px;
  color: white;
}

div#interests.card {
  // width: 10%;
  text-align: center;
}

h1.user-interests {
  padding-top: 5px;
}

div#interests p.user-interests-para {
  color: #2C2C2C;
  font-family: Viga, sans-serif;
}


.title.is-10.is-text-centered {
  font-family: 'Helvetica Neue', sans-serif;
}

.fa-check-circle {
  color: #51B954;
  transition: all 0.5s ease-out;
  font-size: 8em;
}

.fa-check-circle:hover {
  color: #00BF05;
  transform: scale(1.1, 1.1);
}

.fa.fa-check-circle.fa-8x {
  font-size: 8em;
  height: 0%;
}

.fa-times-circle {
  margin-left: 8%;
  margin-top: 80px;
  color: #B92E37;
  transition: all 0.5s ease-out;
  font-size: 8em;
  position: fixed;
}

.fa-times-circle:hover {
  color: #C70410;
  transform: scale(1.1, 1.1);
  margin-top: 75px;
}

.fa.fa-times-circle.fa-8x {
  font-size: 8em;
  height: 0%;
}

.no-users {
  font-size: 8em;
  min-width: 100%;
  margin-left: 51%;
  margin-top: 120px;
  text-align: center;
  color: #fff;

}

.profile-pic {
  border: 2px solid grey;
  position: relative;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  height: 128px;
  width: 128px;
}

#flex-container {
  display: -webkit-box;
  display: -moz-box;         
  display: -webkit-flex;    
  display: flex;             
  flex-direction: column;
  position: fixed;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 3;
}

.user-header {
  text-align: center;
  font-family: Lekton, serif;
  font-weight: 700;
  color: white;
  font-size: 2.3em;
  -webkit-text-stroke-width: 1.0px;
  -webkit-text-stroke-color: #333;
}

.user-header-2 {
  font-family: Viga, sans-serif;
  color: white;
  font-size: 2.3em;
  -webkit-text-stroke-width: 1.0px;
  -webkit-text-stroke-color: #333;
}

.instr-icon {
  display: block;
  position: relative;
  margin: 0 auto;
  -webkit-filter: invert(100%);
  width: 58px;
  height: auto;
  padding: 10px;
}

.user-city {
  font-size: 1.5em;
  text-align: center;
  font-family: Lekton, serif;
  font-weight: 400;
  color: white;

}

#user-left-pane {

  border-radius:18px;
  border:3px solid gray;
  border-radius: 6px;
  padding: 40px 20px 20px 20px;
  background-color: rgba(131, 92, 255, 0.5);
  height: 100%;

}

#user-right-pane {

  border-radius:18px;
  border:3px solid gray;
  border-radius: 6px;
  height: 100%;
  background-color: rgba(131, 92, 255, 0.95);
  margin-left: 20px;
  color: black;

}

.user-description {
  font-family: Lekton, serif;
  font-weight: 400;
  font-size: 1.3em;
}

#user-container {
  
  height: 400px;
}

#genres {
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-family: Lekton, serif;
  font-weight: 700;
  margin-top: 20px;
}
