#video-background {
  position: absolute;
  display: block;  
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: initial;   
  height: auto;  
  z-index: -999;
  margin: 0 auto;
  object-fit: cover;
  padding: 0;
}