#bgvid {
  z-index: -2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

#bgimg {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  display:none;
}

#flex-container {
  display: -webkit-box;
  display: -moz-box;         
  display: -webkit-flex;    
  display: flex;             
  flex-direction: column;
  position: fixed;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 3;
}

.flex-item {
  margin: auto;
  display: block;
}

.flex-item h1 {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #333;
  font-size: 5em;
  font-family: 'Comfortaa', sans-serif;
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #333;
  transition: margin-bottom 4s linear;

}

.flex-item h1.move_up {
  margin-bottom:15px;
}

.sidr {
  background: #1AFFAE;
  box-shadow: 0 0 2px 2px #00AB6F inset;
}

.sidr-header {
  font-family: Viga, sans-serif;
  text-align: center;
  font-size: 1.5em;
  border-bottom: 0.5px solid #00AB6F;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #de0052;

}

.sidr-secondary-header {
  font-family: Viga, sans-serif;
  text-align: center;
  font-size: 1.0em;
  border-bottom: 0.5px solid #00AB6F;
}



.sidr ul {
  color: #00AB6F;
}

.sidr ul li {
    display: block;
    margin: 0;
    line-height: 30px;
    border-top: 0px solid #00AB6F;
    border-bottom: 0px solid #00AB6F;

    &:hover,
    &.active,
    &.sidr-class-active {
      box-shadow: none;
    }
}

.sidr ul li a {
  color: #00AB6F;
  font-family: Viga, sans-serif;
  border-top: 1px solid #00AB6F;
  border-bottom: 1px solid #00AB6F;

    &:hover,
    &.active,
    &.sidr-class-active {
      color: #de0052;
      animation-name: sidebar-link-color;
      animation-duration: 0.5s;
      box-shadow: 2px 2px black;
    }
}

@keyframes sidebar-link-color {
    from {color: #00AB6F;}
    to {color: #de0052;}
}

.startButton {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #333;
  background-color:transparent;
  border-radius:18px;
  border:5px solid #6334ff;
  cursor:pointer;
  color:#f3ff18;
  font-family: 'Comfortaa', sans-serif;
  font-size:22px;
  padding:8px 16px;
  text-decoration:none;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #333;
}
.startButton:hover {
  background-color:#de0052;
}
.startButton:active {
  position:relative;
  top:1px;
}
.startButton:focus {
  outline:0;
}

#show {
  margin: 0px 50px 0px 50px; 
  flex-wrap: wrap;
  display: none;
  }

#show .column {
  
  background-color: rgba(131, 92, 255, 0.5);
  border-radius:18px;
  border:5px solid #6334ff;
  border-radius: 10px;
  text-align: center;
  margin: 0px 10px 0px 10px; 
  flex-grow: 1;
  min-width: 25%;
  padding: 10px;
  height: 250px;


}

#show .column h1 {
  
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.5em;
  color: white;

}

.column img {
  text-align: center;
  width: 38px;
  height: auto;
}

.column p {
  font-size: 1.2em;
  color: #eee;
  margin-top: 10px;
  font-family: 'Lekton', sans-serif;
}
