<div id="msg_sidr">
  
  <a id="other-menu" href="#msg_sidr">
    <div id="msg-menu">
      <img src="/assets/message.png" id="msg-icon" />
    </div>
  </a>
  
  <div class="sidr-header">My Messages</div>

  <div class="sidr-secondary-header">Recent Messages</div>
  <ul>
  <% @received_messages = Message.all.where('recipient_id = ?', current_user.id.to_s) %>
  <% @received_messages.each do |message| %>
    <li><%= message.subject %></li>
    <% end %>
  </ul>
    <div class="sidr-secondary-header">Sent Messages</div>
  <ul>
  <% @sent_messages = Message.all.where('sender_id = ?', current_user.id.to_s) %>
  <% @sent_messages.each do |message| %>
    <li><%= message.subject %></li>
    <% end %>
  </ul>

</div>