<div id="msg_sidr">
  
  <a id="other-menu" href="#msg_sidr">
    <div id="msg-menu">
      <img src="/assets/message.png" id="msg-icon" />
    </div>
  </a>
  
  <div class="sidr-header">My Messages</div>

  <ul>
  <% @messages = Message.all.where('recipient_id = ?', current_user.id.to_s) %>
  <% @messages.each do |message| %>
    <li><%= message.subject %></li>
    <% end %>
    <li><%= link_to "New message", new_message_path, class: "send-message" %></li>
  </ul>

</div>