<div id="sidr">
  
  <div id="toggle-menu">
          
    <a id="simple-menu" href="#sidr">
      <img src="/assets/people.png" id="people-icon" />
    </a>
  
  </div>
        
  <ul>
    
    <% friend_array = [] %>
    <% current_user.connections.each do |connection| %>
      <% friend_array.push(connection.friend_id) %>
    <% end %>
      
    <% friend_array.each do |friend| %>
      <li><%= User.find(friend).full_name %></li>
    <%end%>
  
  </ul>

</div>