<div id='sidebar-bg' class='sidebar-bg-collapse'>
  <nav class='sidebar'>
    <div class='sidebar-btn-bg'>
      <input 
      type='checkbox'
      href='#'
      class='sidebar-btn'
      name='sidebar-btn'
      id='sidebar-btn'/>
      <label class='sidebar-btn-open' for='sidebar-btn'>
        <i id='message-button'class="fa fa-comment-o"></i>
        <span class="hamburger hamburger-1"></span>
        <span class="hamburger hamburger-2"></span>
      </label>
    </div>
  </nav>
</div>